---
import Section from '@components/Section.astro';
import Layout from '@layouts/Layout.astro';
---

<Layout title="Connexus | Degenerous" page="Connexus">
	<main>
		<Section title="Connexus" gap>
            <connexus-component>
                <img class="image" src="" alt="">
                <span class="story">Press start!</span>
                <div class="options">
                    <button class="start">Start</button>
                </div>
            </connexus-component>
        </Section>
    </main>
</Layout>

<script>
    type Node = {
        jwt: string,
        message: string,
        options: string[],
    }

    const url = import.meta.env.PUBLIC_BACKEND

	class Connexus extends HTMLElement {
        #image:        HTMLImageElement;
        #story:        HTMLSpanElement;
        #options:      HTMLDivElement;
        #start_button: HTMLButtonElement;

        #jwt: string;

        async #start() {
            const response = await fetch(`${url}/start`, {
                method: "POST",
            });

            if (!response.ok) {
                console.error(`Status: ${response.status}`)
                return
            }

            try {
                await this.#set_data(await response.json());
            } catch (e) {
                console.error(e)
            }
        }

        async #respond(index: number) {
            const response = await fetch(`${url}/respond`, {
                method: "POST",
                body: JSON.stringify({
                    jwt: this.#jwt,
                    option: index
                })
            });

            if (!response.ok) {
                console.error(`Status: ${response.status}`)
                return
            }

            try {
                await this.#set_data(await response.json());
            } catch (e) {
                console.error(e)
            }
        }

        async #set_data(node: Node) {
            this.#story.innerText = node.message;
            this.#jwt = node.jwt;

            this.#options.replaceChildren();
            for (const [i, option] of node.options.entries()) {
                const button = document.createElement("button");

                button.innerText = option;
                button.onclick = () => this.#respond(i + 1);

                this.#options.appendChild(button);
            }

            this.#image.src = "";

            const response = await fetch(`${url}/image`, {
                method: "POST",
                body: JSON.stringify({ jwt: this.#jwt })
            });

            if (!response.ok) {
                console.error(`Status: ${response.status}`)
                return
            }

            this.#image.src = `data:image/png;base64,${await response.text()}`
        }

		constructor() {
			super();

            this.#image        = document.querySelector(".image")   as HTMLImageElement;
            this.#story        = document.querySelector(".story")   as HTMLSpanElement;
            this.#options      = document.querySelector(".options") as HTMLDivElement;
            this.#start_button = document.querySelector(".start")   as HTMLButtonElement;

            this.#start_button.onclick = () => this.#start()
		}
	}

	customElements.define("connexus-component", Connexus);
</script>