---
import { SEO } from "astro-seo";
import { seoConfig } from "../../utils/seoConfig";

import "/src/styles/index.scss";

import Header from "@components/utils/Header.svelte";
import Footer from "@components/utils/Footer.svelte";

import Scramble from "@components/utils/Scramble.svelte";
import Background from "@components/utils/Background.svelte";
import ToastContainer from "@components/utils/ToastContainer.svelte";

type LayoutProps = {
  nav?: string;
  title?: string;
  ogTitle?: string;
  description?: string;
  image?: string;
  imageType?: string;
  url?: string;
  type?: string;
  disableIndexing?: boolean;
};

const {
  title = "DGRS | AI Storytelling",
  description = "We're building a decentralized entertainment platform for the GenAI era. Play interactive story games or create your own visual novel with branching choices.",
  image = "/favicon.ico",
  nav = "home",
  url = "https://degenerousdao.com/",
  type = "website",
  ogTitle,
  disableIndexing = false,
} = Astro.props as LayoutProps;
---

<html lang="en">
  <head>
    <title>{title}</title>
    <meta charset="utf-8" />
    <meta name="description" content={description} />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=0"
    />
    <link rel="icon" type="image/x-icon" href="/favicon.ico" />
    <meta
      http-equiv="Content-Security-Policy"
      content="upgrade-insecure-requests"
    />
    <SEO
      title={title}
      description={seoConfig.description || description}
      noindex={disableIndexing}
      nofollow={disableIndexing}
      openGraph={{
        basic: {
          title: ogTitle || title,
          type: "website",
          image: seoConfig.image.url || image,
        },
        image: {
          width: seoConfig.image.width,
          height: seoConfig.image.height,
          alt: seoConfig.image.alt || title,
        },
        optional: {
          siteName: seoConfig.siteName,
          description: seoConfig.description || description,
        },
      }}
      twitter={{
        card: "summary_large_image",
      }}
    />
  </head>
  <body>
    <Scramble client:load />
    <Header activeTab={nav} client:load />
    <main>
      <slot />
    </main>
    <Footer client:load />
    <Background client:load />
    <ToastContainer client:load />
    <script async src="https://platform.twitter.com/widgets.js" charset="utf-8"
    ></script>
  </body>
</html>

<!-- Copyright DGRS Labs Pte. Ltd. - All Rights Reserved
Unauthorized copying of this file, via any medium is strictly prohibited
Proprietary and confidential -->
